.Body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42;
    display: flex;
    background-color: cornflowerblue;
    color: cornflowerblue;
    border: cyan;
    border-radius: 40%;

}
.Formulario
{

    font-family: 'Franklin Gothic Medium';
    font-size: 32;
    display: flex;
    background-color: blanchedalmond;
    color: cornflowerblue;
    border: cyan;
    border-radius: 40%;
}